{% extends "layout.html" %}

{% block content %}
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        List of user.
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
    <!-- /.content -->
      <div class="box">
        <div class="box-body">
          <a class="btn btn-success" href="/users/register">Add new user</a>
        </div>
      </div>
      <!-- Default box -->
      <div class="box">
        <div class="box-body">
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table table-striped">
              <tr>
                <th style="width: 10px"># ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Options</th>
              </tr>
              {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-default" href="/users/edit/{{ user.id }}">Edit</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </table>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
    </section>
{% endblock %}